antigen/antigen.zsh
zsh/antigen.zsh
git/gitconfig.local.symlink

## Databases
*.sql
db/*.sqlite3

## Environment normalization:
/.bundle

## Ruby
.byebug_history

## Node
node_modules/
bower_components/
.sass-cache

## macOS
*.DS_Store

## Logs
*.log

## Editors
.vscode/
.idea
.vs
.ionide

# Folder view configuration files
.DS_Store
*~
*.swp
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
